# Grouping Data & Aggregating Varibles

## This script includes the following points:

### 1. Import Data

### 2. Find the aggregated mean of the "order_number" column grouped by "department_id"

### 3. How is this different from the subset?

### 4. Create a loyalty flag for existing customers.

### 5. Is there a difference in the spending habits of the three types of customers identified?

### 6. Create a spending flag.

### 7. Create an order frequency flag.

### 8. Export File

In [2]:
#Import Libraries
import pandas as pd
import numpy as np
import os

### 1. Import Data

In [3]:
#Import Data
path = r'C:\Users\Marlo\OneDrive - South Washington County Schools\Home\job support\Coursework\Achievement 4\Instacart Basket Analysis'

In [4]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [5]:
df_ords_prods_merge.shape

(32404859, 14)

### 2. Find the aggregated mean of the "order_number" column grouped by "department_id"

In [6]:
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### 3. How is this different from the subset?

Most of the numbers are within 0.5 of the subset. The exceptions are 10 which was off by 1.5 and 21 which was off by 2.6. Overall, the subset was a good estimate for the entire dataframe.

### 4. Create a loyalty flag for existing customers.

In [9]:
#define max_order
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Marlo\AppData\Local\Temp\ipykernel_4588\136815596.py:1: FutureWarning: The provided callable <function amax at 0x000001E8879D1DA0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
#check outputs
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,both,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,both,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,both,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,both,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,1,0,both,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,both,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3,1,both,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4,1,both,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8,0,both,13

In [12]:
#Loyal customer > 40 orders
df_ords_prods_merge.loc[df_ords_prods_merge['max_order']>40, 'loyalty_flag'] = 'Loyal customer'

C:\Users\Marlo\AppData\Local\Temp\ipykernel_4588\3732022742.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Loyal customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_ords_prods_merge.loc[df_ords_prods_merge['max_order']>40, 'loyalty_flag'] = 'Loyal customer'

In [14]:
#Regular customer <= 40 orders, >10 orders
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order']<=40) & (df_ords_prods_merge['max_order']>10), 'loyalty_flag'] = 'Regular customer'

In [15]:
#New customer <10 orders
df_ords_prods_merge.loc[df_ords_prods_merge['max_order']<= 10, 'loyalty_flag'] = 'New Customer'

In [17]:
#check outputs
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New Customer         6243990
Name: count, dtype: int64

### 5. Is there a difference in the spending habits of the three types of customers identified?

In [24]:
#Group by 'loyalty flag' and find the mean, min, and max of 'prices' for each group
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.772831  1.0  25.0
New Customer      7.800320  1.0  25.0
Regular customer  7.797431  1.0  25.0

The mean product prices across loyal, new, and regular customers differs by $0.03. There is not a significant difference between the spending habits of the three types of customers identified.

### 6. Create a spending flag.

In [27]:
#define mean price
df_ords_prods_merge['mean_prices'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Marlo\AppData\Local\Temp\ipykernel_4588\3456391288.py:2: FutureWarning: The provided callable <function mean at 0x000001E8879D2AC0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['mean_prices'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [28]:
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,max_order,loyalty_flag,spending_flag,mean_prices
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,32,Regular customer,Low spender,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,32,Regular customer,Low spender,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,5,New Customer,Low spender,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,3,New Customer,Low spender,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,3,New Customer,Low spender,4.972414
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,26,Regular customer,Low spender,6.935398
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,both,9,New Customer,Low spender,5.957576
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,both,12,Regular customer,Low spender,6.680000
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,both,20,Regular customer,Low spender,7.162500
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,both,20,Regular customer,Low spender,7.162500
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,1,0,both,10,New Customer,Low spender,5.813636
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,both,43,Loyal customer,Low spender,5.081633
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3,1,both,43,Loyal customer,Low spender,5.081633
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4,1,both,43,Loyal customer,Low spender,5.081633
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8,0,both,13,Regular customer,Low spender,6.803797

In [25]:
#Low spender < $10 mean price
df_ords_prods_merge.loc[df_ords_prods_merge['prices']<10, 'spending_flag'] = 'Low spender'

C:\Users\Marlo\AppData\Local\Temp\ipykernel_4588\480854246.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Low spender' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_ords_prods_merge.loc[df_ords_prods_merge['prices']<10, 'spending_flag'] = 'Low spender'

In [26]:
#high spender >= $10 mean price
df_ords_prods_merge.loc[df_ords_prods_merge['prices']>=10, 'spending_flag'] = 'High spender'

In [30]:
#check outputs
df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     21766064
High spender    10638795
Name: count, dtype: int64

### 7. Create an order frequency flag.

In [32]:
#define median of days since prior order
df_ords_prods_merge['median_days_since_prior_order'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\Marlo\AppData\Local\Temp\ipykernel_4588\2033015089.py:2: FutureWarning: The provided callable <function median at 0x000001E887B13A60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['median_days_since_prior_order'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [33]:
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,max_order,loyalty_flag,spending_flag,mean_prices,median_days_since_prior_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,32,Regular customer,Low spender,6.935811,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,32,Regular customer,Low spender,6.935811,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,5,New Customer,Low spender,7.930208,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,3,New Customer,Low spender,4.972414,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,3,New Customer,Low spender,4.972414,9.0
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,26,Regular customer,Low spender,6.935398,11.0
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,both,9,New Customer,Low spender,5.957576,20.0
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,both,12,Regular customer,Low spender,6.680000,6.0
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,both,20,Regular customer,Low spender,7.162500,10.0
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,both,20,Regular customer,Low spender,7.162500,10.0
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,1,0,both,10,New Customer,Low spender,5.813636,20.0
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,both,43,Loyal customer,Low spender,5.081633,7.0
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3,1,both,43,Loyal customer,Low spender,5.081633,7.0
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4,1,both,43,Loyal customer,Low spender,5.081633,7.0
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8,0,both,13,Regular customer,Low spender,6.803797,7.0

In [34]:
#non-frequent customer: >20 days since prior order
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_prior_order']>20, 'frequency_flag'] = 'Non-frequent customer'

C:\Users\Marlo\AppData\Local\Temp\ipykernel_4588\2736105399.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Non-frequent customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_prior_order']>20, 'frequency_flag'] = 'Non-frequent customer'

In [40]:
#regular customer: >10, <=20 days since prior order
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_since_prior_order']>10) & (df_ords_prods_merge['median_days_since_prior_order']<=20), 'frequency_flag'] = 'regular customer'

In [42]:
#frequent customer: <=10 days since prior order
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_prior_order']<=10, 'frequency_flag'] = "frequent customer"

In [43]:
#check outputs
df_ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
frequent customer        21559853
regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

### 8. Export File

In [44]:
#Export ords_prods_merge file
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_agg.pkl'))